/* ===========================================
Main style page for Project 3, a form created 
with a mobile-first approach.
============================================*/


/* ========== Universal/Body Styles -----------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  

}

body {
    background-color: #fafafa;
    font-family: 'Merriweather', serif;
    color: #292525;
}

a {
  text-decoration: none;
  transition: all .5s;
}
.nav a:hover {
  color: #4a53ca;
}

.wrapper {
    text-align: center;
    margin: 0px;
  
  }

/* ========== Header---------------------------------*/

.header-title {
    background-color:#444658;
    color: #ffffff;
    text-transform: uppercase;
    padding: 30px;
    border: 10px;
    margin: 0 auto;

}



/* ========== Main Content--------------------------*/

.intro {
    border-bottom: 5px solid black;
    padding-bottom: 5px;
    margin: 3px;

}

.contact {
border-top: 2px solid black;

}

.newsletter {


}

/* ========== Footer--------------------------------*/

/* ========== Media Queries ------------------------*/

/* ========== 768px+ screens (tablet/desktop) -----------------*/