/* ===========================================
Main style page for Project 3, a form created 
with a mobile-first approach.
============================================*/


/* ========== Universal/Body Styles -----------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  

}

body {
    background-color: #fafafa;
    font-family: 'Merriweather', serif;
    color: #292525;
}

a {
  text-decoration: none;
  transition: all .5s;
}
.nav a:hover {
  color: #4a53ca;
}

.wrapper {
    text-align: left;
    margin: 0px;
  
  }

/* ========== Header---------------------------------*/



.header-title {
    background-color:#444658;
    color: #ffffff;
    text-transform: uppercase;
    padding: 30px;
    border: 10px;
    margin: 0 auto;
    text-align: center;

}



/* ========== Main Content--------------------------*/

.intro {
    border-bottom: 5px solid black;
    padding-bottom: 5px;
    margin: 3px;
    text-align: center;

}

h1,
legend {
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #a5a2a2;

}

.contact {
border-top: 2px solid black;

}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  background-color:#f3efef;
  border: none;
  border-radius: 2px;
  padding: 15px;
  margin: 5px 0;
}

label {
  color: #575656;
}

::placeholder {
  text-align: right;
  font-style: italic;
  padding: 2px;
}

input[type="checkbox"],
input[type="radio"],
label {
  padding: 15px;
}



.submit-btn {
  color: white;
  width: 100%;
  padding: 10px;
  background-color: #2fb6b6;
  border-radius: 5px;

}

form input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  border: 2px solid #4a53ca;
  border-radius: 5px;
}



/* ========== Footer--------------------------------*/

footer {
  font-style: italic;
  color: #a5a2a2;
  text-align: center;
  padding: 10px;
  border: none;
  margin: 5px;

}

/* ========== Media Queries ------------------------*/

/* ========== 768px+ screens (tablet/desktop) -----------------*/

@media (min-width: 768px) {
 
  main {
  
    align-content: center;
    
    

  }


}